@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  border: 0;
}

body{
  background-color: #F7F4F1;
  overflow-x: hidden;
}

input:focus, label:focus, select:focus, textarea:focus{
  box-shadow: 0,0,0,0;
  outline: 0;
  background-color: #ffffff;
}

.login-page{
  height: 420px;
  width: 300px;
  background-color: #f9f9f9;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 24px;
  box-shadow:  0px 100px 80px rgba(0, 0, 0, 0.07), 
  0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 
  0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 
  0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 
  0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 
  0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  transition: 0.5s;
}

.login-page div {
  position: relative;
  width: 300px;
  background: url(./images/hamburger-phone.png);
  height: 188px;
  border-radius: 24px 24px 0px 0px;
  transition: 0.5s;
}

.login-login {
  width: 100%;
  height: 232px;
  background-color: #F9F9F9;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0px 0px 24px 24px;
  transition: 0.5s;
}

.login-login h2 {
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(264.98deg, rgba(255, 163, 26, 0.9) 2.9%, rgba(245, 98, 98, 0.9) 94.41%);
  margin-top: 32px;
  margin-bottom: 24px;
  background-color: #F9F9F9;
  font-family: "Poppins";
  font-style: normal;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  transition: 0.5s;
}

.login-login form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F9F9F9;
  transition: 0.5s;
}
.login-login form label{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 12px;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(264.98deg, rgba(255, 163, 26, 0.9) 2.9%, rgba(245, 98, 98, 0.9) 94.41%);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 8px;
  transition: 0.5s;
}

.login-login form label input {
  border: 0;
  width: 162px;
  height: 23px;
  border-radius:6px;
  background-color: #ffffff;
  transition: 0.5s;
}

.login-login form button {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 8px;
  text-align: center;
  border: 0;
  width: 48.32px;
  color: white;
  height: 22.7px;
  background: linear-gradient(264.98deg, rgba(255, 163, 26, 0.9) 2.9%, rgba(245, 98, 98, 0.9) 94.41%);
  border-radius: 6px;
  transition: 0.5s;
}

.login-login form button:disabled {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 8px;
  text-align: center;
  border: 0;
  width: 48.32px;
  color: white;
  height: 22.7px;
  background: linear-gradient(264.98deg, rgba(255, 163, 26, 0.2) 2.9%, rgba(245, 98, 98, 0.2) 94.41%);
  border-radius: 6px;
  transition: 0.5s;
}

.header {
  background-color: #fcf0e4;
  display: flex;
  flex-direction: column;
  position: static;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  transition: 0.5s;
  padding: 32px;
  justify-content: center;
  z-index: 1000;
}

.header-principal {
  display: flex;
  justify-content: space-around;
  transition: 0.5s;
  align-items: center;
}

.header-principal h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  transition: 0.5s;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(264.98deg, rgba(255, 163, 26, 0.6) 2.9%, rgba(245, 98, 98, 0.6) 94.41%);
}

.button-header{
  background-color: #fcf0e4;
  opacity: 80%;
  width: 48px;
  transition: 0.5s;

  height: 48px;
}

.button-header:hover {
  opacity: 100%;
  transition: 0.5s;
  cursor:pointer;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.search-input::placeholder{
  color:transparent;
  background: linear-gradient(264.98deg, rgba(255, 163, 26, 0.6) 2.9%, rgba(245, 98, 98, 0.6) 94.41%);
  background-clip: text;
  transition: 0.5s;
}
.search-input {
  margin-top: 18px;
  background: #FFFFFF;
  border-radius: 6px;
  border: 1px solid rgba(251, 179, 140, 1);
  width: 280px;
  height: 22px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 8px;
  transition: 0.5s;
  text-align: center;
}

.search-radios {
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: 0.5s;
}

.search-radio-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px;
  transition: 0.5s;
}

.search-radio-flex input {
  display: none;
}

.search-label-web {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  text-align: center;
  color:transparent;
  background: linear-gradient(264.98deg, rgba(255, 163, 26, 0.9) 2.9%, rgba(245, 98, 98, 0.9) 94.41%);
  background-clip: text;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  transition: 0.5s;
}

.search-radio-flex label:before {
  content: '';
  margin-top: 3px;
  width: 8px;
  height: 8px;
  transition: 0.5s;
  border-radius: 50%;
  background-color: white;
  border: 5px solid rgba(251, 179, 140, 1);
}

.search-radio-flex input:checked + label:before {
  background-color: rgba(251, 179, 140, 1);
  transition: 0.5s;
  border: 5px solid rgb(255, 255, 255);
}

.button_search {
  width: 61px;
  height: 28.7px;
  background: linear-gradient(264.98deg, rgba(255, 163, 26, 0.6) 2.9%, rgba(245, 98, 98, 0.6) 94.41%);
  border: 3px solid #FFFFFF;
  border-radius: 6px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  text-align: center;
  color: #FFFFFF;
  transition: 0.5s;
}

.button_search:hover {
  cursor:pointer;
  transition: 0.5s;
  background: linear-gradient(264.98deg, rgba(255, 163, 26, 0.9) 2.9%, rgba(245, 98, 98, 0.9) 94.41%);
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.card-btns {
  width: 100%;
  display: flex;
  justify-content: space-around;
  transition: 0.5s;
}

.card-btns button {
  width: 51.11px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 4px;
  text-align: center;
  height: 23px;
  margin-top: 12px;
  margin-bottom: 24px;
  color: #ffffff;
  background: linear-gradient(264.98deg, rgba(255, 163, 26, 0.6) 2.9%, rgba(245, 98, 98, 0.6) 94.41%);
  border-radius: 6px;
  transition: 0.5s;
  border: 3px solid rgb(255, 255, 255);
}

.card-btns button:hover {
  cursor:pointer;
  background: linear-gradient(264.98deg, rgba(255, 163, 26, 0.9) 2.9%, rgba(245, 98, 98, 0.9) 94.41%);
  border-radius: 6px;
  transition: 0.5s;
}

.card-container-conteuds {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  transition: 0.5s;
}

.card {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  align-items: center;
  width: 264px;
  height: 380px;
  background-color: #F9F9F9 ;
  margin: 32px;
  border-radius: 24px;
  box-shadow:  0px 100px 80px rgba(0, 0, 0, 0.07), 
  0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 
  0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 
  0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 
  0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 
  0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}

.card h3 {
  position: relative;
  font-family: 'Poppins';
  font-style: normal;
  top: 40px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color:transparent;
  background: linear-gradient(264.98deg, rgba(255, 163, 26, 0.9) 2.9%, rgba(245, 98, 98, 0.9) 94.41%);
  background-clip: text;
  transition: 0.5s;
}

.card:hover {
  box-shadow:  0px 100px 80px rgba(0, 0, 0, 0.1), 
  0px 41.7776px 33.4221px rgba(0, 0, 0, 0.06), 
  0px 22.3363px 17.869px rgba(0, 0, 0, 0.05), 
  0px 12.5216px 10.0172px rgba(0, 0, 0, 0.05), 
  0px 6.6501px 5.32008px rgba(0, 0, 0, 0.035), 
  0px 2.76726px 2.21381px rgba(0, 0, 0, 0.03);
}

.card img {
  width: 264px;
  height: 264px;
  transition: 0.5s;
  border-radius: 24px 24px 0px 0px;
}

.footer {
  margin: 64px;
  z-index: 100;
}

.footerBtns {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background-color: #fcf0e4;
  bottom: 0;
  transition: 0.5s;
  left: 0;
}

.footerBtns a img {
  width: 48px;
  opacity: 75%;
  height: 48px;
  transition: 0.5s;
}

.footerBtns a img:hover {
  opacity: 100%;
  transition: 0.5s;
}

.explorar-recipes {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  justify-content: center;
  align-items: center;
}

.explorar-recipes-recipes:link {
 text-decoration: none;
}

.explorar-recipes-recipes {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(264.98deg, rgba(255, 163, 26, 0.6) 2.9%, rgba(245, 98, 98, 0.6) 94.41%);
  transition: 0.5s;
}

.explorar-recipes-recipes:hover {
  width: 100%;
  height: 100%;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(264.98deg, rgba(255, 163, 26, 0.9) 2.9%, rgba(245, 98, 98, 0.9) 94.41%);
  transition: 0.5s;
}

.explorar-recipes-recipes button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
}

.explorar-recipes-recipes button:hover {
  cursor: pointer;
}

.container-por-origen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-por-origen-se {
  margin: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-por-origen-se select {
  border: 1px solid rgba(251, 179, 140, 1);
  background-color: white;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  border-radius: 6px;
  color: rgba(251, 179, 140, 1);
  margin-top: 24px;
}

.container-por-origen-se p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  transition: 0.5s;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(264.98deg, rgba(255, 163, 26, 0.6) 2.9%, rgba(245, 98, 98, 0.6) 94.41%);
}

.card-favorite {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  align-items: center;
  width: 264px;
  height: 380px;
  background-color: #F9F9F9 ;
  margin: 32px;
  border-radius: 24px;
  box-shadow:  0px 100px 80px rgba(0, 0, 0, 0.07), 
  0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 
  0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 
  0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 
  0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 
  0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}

.p-favorite a:link {
  text-decoration: none;
  cursor: pointer;
}

.p-favorite a h3, .p-favorite p {
  position: relative;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color:transparent;
  background: linear-gradient(264.98deg, rgba(255, 163, 26, 0.9) 2.9%, rgba(245, 98, 98, 0.9) 94.41%);
  background-clip: text;
  transition: 0.5s;
}

.card-favorite:hover {
  box-shadow:  0px 100px 80px rgba(0, 0, 0, 0.1), 
  0px 41.7776px 33.4221px rgba(0, 0, 0, 0.06), 
  0px 22.3363px 17.869px rgba(0, 0, 0, 0.05), 
  0px 12.5216px 10.0172px rgba(0, 0, 0, 0.05), 
  0px 6.6501px 5.32008px rgba(0, 0, 0, 0.035), 
  0px 2.76726px 2.21381px rgba(0, 0, 0, 0.03);
}

.card-favorite a img {
  width: 264px;
  height: 264px;
  transition: 0.5s;
  border-radius: 24px 24px 0px 0px;
}

.card-favorite a {
  width: 264px;
  height: 264px;
}

.flex-favorite {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.b-favorite {
  width: 264px;
  justify-content: space-around;
  background-color: #fcf0e4;
  display: flex;
  padding: 3px;
  align-items: center;
}

.b-favorite button, .b-favorite div button {
  margin-left: 15px;
  margin-right: 15px;
  background-color: transparent;
}

.fas {
  font-size: 20px;
  background-color: transparent;
}

.far {
  font-size: 20px;
  background-color: transparent;
}
.fa-heart {
  color:transparent;
  background: linear-gradient(264.98deg, rgba(255, 163, 26, 0.9) 2.9%, rgba(245, 98, 98, 0.9) 94.41%);
  background-clip: text;
}

.fa-heart:hover {
  cursor: pointer;
}

.fa-share-alt {
  background-color: transparent;
  color:transparent;
  background: linear-gradient(264.98deg, rgba(255, 163, 26, 0.9) 2.9%, rgba(245, 98, 98, 0.9) 94.41%);
  background-clip: text;
}

.fa-share-alt:hover {
  cursor: pointer;
}

.favorite-btn span {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 8px;
  transition: 0.5s;
  color:transparent;
  background: linear-gradient(264.98deg, rgba(255, 163, 26, 1) 2.9%, rgba(245, 98, 98, 1) 94.41%);
  background-clip: text;
}

.favorite-btn {
  display: flex;
  align-items: center;
  
}

.body-finish {
  margin-top: calc(5%);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.flex-finish {
  width: 320px;
  font-family: 'Poppins';
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #F9F9F9 ;
  border-radius: 24px;
  box-shadow:  0px 100px 80px rgba(0, 0, 0, 0.07), 
  0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 
  0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 
  0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 
  0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 
  0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}

.flex-finish img {  
  width: 150px;
  height: 150px;
  border-radius: 12px;
  margin-bottom: 6px;
}

.finish-btn {
  height: 28.7px;
  background: linear-gradient(264.98deg, rgba(255, 163, 26, 0.6) 2.9%, rgba(245, 98, 98, 0.6) 94.41%);
  border: 3px solid #FFFFFF;
  border-radius: 6px;
  font-family: 'Poppins';
  font-style: normal;
  padding-left: 12px;
  padding-right: 12px;
  margin: 10px;
  font-weight: 500;
  font-size: 8px;
  text-align: center;
  color: #FFFFFF;
  transition: 0.5s;
}

.finish-btn:disabled {
  background: linear-gradient(264.98deg, rgba(255, 163, 26, 0.2) 2.9%, rgba(245, 98, 98, 0.2) 94.41%);
  transition: 0.5s;
}

.finish-btn:hover {
  cursor: pointer;
}

.b-finish {
  width: 320px;
  justify-content: space-around;
  background-color: #fcf0e4;
  display: flex;
  padding: 3px;
  align-items: center;
}

.flex-finish h3, .flex-finish h4{
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  transition: 0.5s;
  margin-top: 6px;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(264.98deg, rgba(255, 163, 26, 0.6) 2.9%, rgba(245, 98, 98, 0.6) 94.41%);
}

.flex-finish h3 {
  font-weight: bold;
  font-size: 18px;
}

.flex-finish h4 {
  margin-bottom: 6px;
}
.finish-label-container {
  display: flex;
  list-style: none;
  align-items: center;
}
.finish-label-container label:before {
  content: '';
  width: 12px;
  height: 12px;
  margin-right: 3px;
  display: inline-block;
  transition: 0.5s;
  background-color: white;
  border-radius: 3px;
  border: 1px solid rgba(251, 179, 140, 1);
}

.finish-label-container input:checked + label:before {
  background-color: rgba(251, 179, 140, 1);
  transition: 0.5s;
  border: 1px solid rgb(255, 255, 255);
}

.finish-label-container  input {
  display: none;
}

.ingredients-container {
  margin: 10px;
  margin-bottom: 0;
  display: flex;
  background-color: #fcf0e4;
  padding: 10px;
  border-radius: 12px;
  font-size: 12px;
  color: rgb(255, 89, 0);
  flex-direction: column;
}

.instructions {
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  margin: 18px;
  background-color: #fcf0e4;
  padding: 10px;
  border-radius: 12px;
  color: rgba(251, 179, 140, 1);
}

.video-recipe {
  margin: 18px;
  background-color: #fcf0e4;
  padding: 10px;
  border-radius: 12px;
}

.recommended-recipes {
  margin: 18px;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  transition: 0.5s;
  color: rgba(251, 179, 140, 1);
  width: 100%;
} 

.recommended-recipes img {
  margin-top:15px;
} 

.loading{
  position: absolute;
  bottom:calc(50% - 50px);
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(90deg, #ffee00, #ff5e00, #ff0000);
  animation: animate 0.5s linear infinite;
}

@keyframes animate {
  0%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(360deg);
  }
}

.loading span{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(90deg, #ffee00, #ff5e00, #ff0000);


}

.loading:after{
  content: '';
  position: absolute;
  top: 10px;
  left: 10px; 
  right: 10px;
  background:#ebecf0;
  border-radius: 50%;
  bottom: 10px;
}
@media screen and (min-width: 900px) {
  .login-page{
    height: 600px;
    width: 840px;
    display: flex;
    transition: 0.5s;
  }
  .login-page div{
    width: 396px;
    height: 600px;
    background: url(./images/hamburger.png);
    border-radius: 24px 0px 0px 24px;
    transition: 0.5s;
  }

  .login-login {
    width: 444px;
    height: 600px;
    justify-content: center;
    transition: 0.5s;
    border-radius: 0px 24px 24px 0px;
  }

  .login-login h2 {
    font-size: 36px;
    transition: 0.5s;
  }

  .login-login form label {
    font-size: 16px;
    transition: 0.5s;
  }

  .login-login form label input {
    width: 278px;
    transition: 0.5s;
    height: 39px;
  }
  
  .login-login form button {
    font-size: 16px;
    width: 83px;
    color: white;
    height: 39px;
    transition: 0.5s;
  }
  
  .login-login form button:disabled {
    font-size: 16px;
    width: 83px;
    color: white;
    height: 39px;
    transition: 0.5s;
  }

  .header {
    transition: 0.5s;
  }

  .header h1 {
    font-size: 36px;
    transition: 0.5s;
  }
  
  .button-header img{
    width: 64px;
    height: 64px;
    transition: 0.5s;
  }

  .search-input {
    border-radius: 12px;
    width: 840px;
    height: 44px;
    font-size: 16px;
    transition: 0.5s;
  }
  
  .search-label-web {
    font-size: 16px;
    transition: 0.5s;
  }
  
  .search-radio-flex label:before {
    margin-top: 6px;
    width: 16px;
    height: 16px;
    transition: 0.5s;
    border: 10px solid #fbb38c;
    transition: 0.5s;
  }
  
  .search-radio-flex input:checked + label:before {
    border: 10px solid rgb(255, 255, 255);
    transition: 0.5s;
  }
  
  .button_search {
    width: 122px;
    height: 56px;
    border: 6px solid #FFFFFF;
    border-radius: 12px;
    font-size: 16px;
    transition: 0.5s;
  }
  
  .card-btns button {
    width: 102px;
    font-size: 8px;
    height: 46px;
    border-radius: 12px;
    border: 6px solid rgb(255, 255, 255);
    transition: 0.5s;
  }
  
  .card-btns button:hover {
    border-radius: 12px;
    transition: 0.5s;
  }

  .footerBtns a img {
    width: 64px;
    height: 64px;
    transition: 0.5s;
  }

}